.navbar {
    border-bottom: 2px solid #00000029;
    border-top: 1px solid #00000029;
    box-shadow: 2px 3px #00000029;    
}

.container {    
    width: 80%;    
    margin: auto;
    font-style: Helvetica Neue;
    color: #000000;;
}

.event-header {
    display: flex;
    justify-content: space-between;

}

.event-header div {
    display: flex;
}

.create-btn {
    background-color: #4E94F4;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    padding: 0px 15px;
    margin-left: 6px;
    cursor: pointer;
    font-size: 14px;    
    /* letter-spacing: 0.36px; */
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.searchic{
    font-size: x-large;
    color: #766D6D;
}
.filteric{
    font-size: xx-large;
    color: #766D6D;
}
.event-details{
    text-align: left;
    border: 1px solid #c2cfdf;
    opacity: 1;
    border-radius: 4px;
}
.event-details:hover{
    box-shadow: 2px 4px rgb(202, 206, 211);
    border: 2px solid #9cb8d9;
}
.event-main{
    display: flex;
    justify-content: space-between;    
}
.event-head{
    display: flex;  
    flex-wrap: wrap;      
}
.event-head div{
    margin-right:1.8rem;
}
.event-head p{
    margin-bottom: 0rem;
}
.editic{
    font-size: xx-large;
}
.editic:hover{
    color: blue;
}
.dltic{
    font-size: xx-large;
}